/* Able Player CSS Overrides */

/*
  Volume Slider
*/
.able-volume-slider {
  width: 34px;
  height: 50px;
  background-color: #464646; /* same as .able-controller */
  padding: 10px 0;
  position: absolute;
  right: 0px;
  top: -74px;
  display: block;
  z-index: 9100;
  /* https://getbootstrap.com/docs/4.5/getting-started/introduction/#box-sizing */
  box-sizing: content-box;
}
